.user-container {
  margin-top: 30px;
  padding: 5px;
  text-align: left;
  margin-left: 30px;
}
.user-image {
  max-width: 40%;
  padding: 10px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.5);
  margin-right: 30px;
  border-radius: 10px;
  position: relative;
  bottom: 1.5em;
}
.user-info-container {
  width: 65%;
  padding: 10px;
  display: inline-block;
}

.user-info {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 30px;
}

.user-info-pair {
  width: 99%;
  margin-bottom: 5px;
}
.user-info-key {
  width: 18%;
  padding: 5px;
  display: inline-block;
  font-weight: bold;
  margin-right: 1.5em;
}
.user-info-value {
  width: 45%;
  padding: 5px;
  padding-left: 15px;
  display: inline-block;
}
.user-info-complex {
  padding-left: 0px;
}
.post-link {
  margin-bottom: 10px;
}
.todo-link {
  margin-bottom: 1.5em;
}